#portfolio.container-fluid{
  text-align: center;
  width: 100%; 

  table {
    width: 100%; 
  }
  h2 {
    padding-bottom: 1em;
    color: blue;
    font-weight: bold; 
  }
  .col-sm-3 {
    padding: 0px;
    margin: 0px; 
  }

  a {
    font-weight: bold;
    margin: 0.75em;
    padding: 1em .5em 1em .5em;
    border: 1px solid transparent;
    color: #000;
    border-radius: 1em; 
    text-decoration: none;
    
    &:hover {
      background-color: blue;
      color: white; 
    }
  } 
}